body{
	margin: 0;
	padding: 0;
    font-family: 'Slabo 27px', serif;
}
section{
	padding: 1em;
}
.first-section{
}
img{
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 30em){
	header{
		display: none;
	}
	.first-section ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	.first-section li figure{
		display: grid;
	}
	.first-section li figure img{
		height: 11em;
	}
	.first-section figure img, .first-section figure .caption{
		grid-column: 1;
		grid-row: 1;
	}	
	.caption{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0 1em .4em;
		background: -moz-linear-gradient(273deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(85%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
   		background: -webkit-linear-gradient(273deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
   		background: -o-linear-gradient(273deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    	background: -ms-linear-gradient(273deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%); /* ie10+ */
    	background: linear-gradient(177deg, rgba(255,255,255,.5) 0%, rgba(0,0,0,.5) 85%, rgba(0,0,0,.5) 100%); /* w3c */
   		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* ie6-9 */ 
   		color: white;
	}
	.caption-title{
		margin: .1em 0em;
	}
	.category{
		display: block;
		text-transform: uppercase;
		font-weight: 400;
	}
	.additional-info{
		display: flex;
		flex-wrap: wrap;
	}
	.additional-info span{
		margin: .2em .6em .5em 0;
	}


	.second-section{
		padding: .4em 2.5em;
	}
	.second-section h1{
	}
	.second-section h1 a, .third-section h1 a, .third-section-header .first-list li a{
		color: #ff3a10e6;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.2em;
	}
	.second-section h1 a:hover, .third-section h1 a:hover, .third-section-header .first-list li a:hover{
		color:black;
	}
	.second-section h1 a:after, .third-section h1 a:after{
		content: ">";
		padding: 0 .4em;
		font-size: .8em;
	}
	.second-section .latest-news{
		margin: 1em 0;
		display: flex;
	}
	.second-section .latest-news img{
		flex: 1;
		min-width: 7em;
		max-width: 7em;
	}
	.second-section .right {
		max-width: 80%;
		margin-left: .6em;
		line-height: 1.4em;
		flex: 1 1 auto;
	}
	.second-section .right p a{
		text-decoration: none;
		color: black;
		font-weight: 700;
	}
	.second-section .right p a:hover{
		color: #ff3a10e6;
		text-decoration: underline;
	}
	.right span a{
		margin: 0 .5em 0 0;
		color: #747474;
		font-size: .9em;
		text-decoration: none;
	}
	.right span a:hover{
		color: #000000b3;	
	}
	.third-section{
		padding: .4em 2.5em;
	}
	.third-section-header{
		display: flex;
		flex-direction: column;
	}
	.third-section .first-list{
		display: flex;
		list-style-type: none;
		flex-direction: column;
		margin: 0;
		padding: 0;
	}
	.third-section .first-list li{
		margin: .3em 0;
	}
	.third-section .first-list li a{
		color: #ff6b26;
		text-decoration: none;
	}
	.third-section .second-list{
		list-style-type: none;
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: .5em 0;
	}
	.third-section .second-list li{
		background-color: #ffefef99;
		margin: .7em;
	}
	.third-section .funding-rounds{
		text-decoration: none;
		color: black;
		position: relative;
	}
	.third-section .funding-rounds h2{
		padding: .5em 0 .5em 4em;
		background-color: #f42;
				color: white;

		margin: 0;
	}
	.third-section .funding-rounds .figure{
		margin: 0;
		padding: .2em 0 .7em 6em;
		display: flex;
		flex-direction: column;
		background-color: rgba(255,68,34,.08);
	}
	.third-section .funding-rounds .figure span{
		font-size: .9em;
		color: #2a2a2ae6;
	}
	.third-section .funding-rounds img{
		position: absolute;
		width: 4.2em;
		height: 4.2em;
		top: 2em;
		left: 1.5em;
	}
	.third-section .funding-rounds h4{
		margin: 0 0 .6em;
	}
	.investment-card{
		display: flex;
		flex-direction: column;
		padding: 1em;
	}
	.investment-card a, .investment-card-after a{
		text-decoration: none;
		color: #000c;
	}
	.investment-card a:hover, .investment-card-after a:hover{
		color: #000;
	}
	.investment-card-before{
		border-bottom: 1px solid red;
		margin: 0em 0 1em;
		padding: 0 0 1em;
	}
	footer{
		padding: 0 0 2em;
	}
	footer ul{
		padding: 2em;
		margin: 0em;
		list-style-type: none;
		display: flex;
		justify-content: center;
		background-color:#121212;
		flex-wrap: wrap;
	}
	footer ul li{
		margin: .1em .3em;
		color: white;
		font-size: 1.2em;
		background-color: #333;
		padding: .1em .3em;
		border-radius: 50%;
	}
	footer ul li i{
		padding: .2em;
	}
	footer ul li:hover{
		box-shadow: inset 0 0 0 2px #333;
		background-color: black;
	}
	footer .end{
		display: flex;
		flex-direction: column;
		padding: 1em;
		background-color: black;
		color: white;
		text-align: center;
	}
	footer .end span{
		margin: .1em;
	}


}


@media screen and (min-width: 40em){
	.first-section{
		padding: .3em;
	}
	.first-section ul{
		display: flex;
	}
	.first-section .left-pic img{
		height: 20em;
	}
	.first-section .right-pic img{
		height: 9.8em;
	}
	.first-section ul li figure{
		margin: 0;
	}
	.first-section ul .left-pic{
		width: 63%;
		margin: 0 .4em 0 1em;
	}
	.first-section ul .right-pic{
		width: 33.33333%;
	}
	.right-pic li:last-of-type{
		margin: .5em 0 0 0;
	}
	.second-section .latest-news{
		flex-direction: column;
		justify-content: center;
		flex: 1 1 22%;
		margin: .3em .4em;
	}
	.second-section .right p{
		margin-bottom: 0;
	}
	.second-section .latest-news img{
		min-width: unset;
		min-height: unset;
		margin: 0 auto;
		max-width: unset;
		flex: unset;
		width: 19em;
		height: 9em;
	}
	.second-section .latest-news-section{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.second-section .right{
		margin-left: 0;
		flex: unset;
		max-width: unset;
	}
	.third-section-header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.third-section-header .first-list{
			flex-direction: row;
			justify-content: flex-end;
			margin-top: .7em;
	}
	.third-section-header h1{
		margin: 0;
	}
	.third-section-header .first-list li{
			border-right: 1px solid #ff3a10e6;
			padding: 0 0.5em;
	}
	.third-section-header .first-list li:last-of-type{
		border-right: none;
	}
	.third-section-header .first-list li a{
			font-weight: 700;	
			font-size: 1em;
	}
	.third-section .second-list{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.third-section .second-list li{
		flex: 1 1 23%;
	}
	header{
		display: block;
	}
	header .first-nav ul{
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #000;
		list-style-type: none;
	}
	header .first-nav ul .left-nav, header .first-nav ul .right-nav{
		display: flex;
		margin: 0 1.3em;
	}
	header .first-nav ul li{
		padding: 0.3em;

	}
	header .first-nav ul li a{
		text-decoration: none;
		color: hsla(0,0%,100%,.6);
	}
	header .first-nav ul li a:hover{
		color: white;
	}
	header .first-nav ul li a.active{
		color: white;
	}
}
